
<div class="content" role="main">
  <div class="container">
    <div class="row">
      <!-- Navbar -->
    </div>

    <div class="row">
      <div class="col-sm">
        <!-- Categories -->
        <strong>CATEGORIES</strong>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let entry of categories" >
            <span>{{ entry }}</span>
            <a href="#{{entry}}">link</a>
          </li>
        </ul>
      </div>

      <div class="col-md">
        <!-- Item List -->
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let entry of categories" >
            <div id="{{entry}}">
              <!-- Display the items of each category of the menu -->
              <strong>{{ entry }}</strong>
              <hr/>
              <ul class="list-group list-group-flush">
                <li class="list-group-item justify-content-between" *ngFor="let food of getFoodsfromCategory(entry)">
                  <span>{{food.title}}</span>
                  <button (click)="addToCart(food)" class="input-group-text">Add to cart</button>
                  <br/>
                  <span>{{food.price}}</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <!-- Order -->
      </div>
    </div>
  </div>
</div>
