
<div class="content" role="main">

  <!-- <div class="row order"> -->
    <div class="col-sm">
      <!-- Categories -->
      <strong>CATEGORIES</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let entry of categories" >
          <span>{{ entry }}</span>
          <a href="#{{entry}}">link</a>
        </li>
      </ul>
    </div>

    <div class="col item-list">
      <!-- Item List -->
      <span style="text-align: center;"><strong>CHOOSE YOUR FOOD</strong></span>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let entry of categories" >
          <div id="{{entry}}">
            <!-- Display the items of each category of the menu -->
            <strong>{{ entry }}</strong>
            <hr/>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let food of getFoodsfromCategory(entry)">
                <span class="single-item">
                  {{food.title}}
                  <button (click)="addToCart(food)" class="btn btn-info">Add to cart</button>
                </span>
                <br/>
                <span><i>{{food.price}} euros</i></span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-sm">
      <!-- Order -->
      <strong style="text-align: center;">PLACE YOUR ORDER</strong>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let food of cart">
          <span>{{food.title}}, {{food.price}}</span>
          <button class="input-group-text"><i (click)="removeFromCart(food)" class="material-icons">delete</i></button>
        </li>
      </ul>
      <span><strong>Total cost: {{order_cost}}</strong></span>
      <button (click)="submitOrder()" class="btn btn-primary">Submit order</button>
      <br/>
      <span><i>Payment is only done in cash</i></span>
    </div>
  <!-- </div> -->

</div>
